<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="de.lmu.navigator"
    xmlns:android="http://schemas.android.com/apk/res/android"
    android:versionCode="4"
    android:versionName="1.1"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/lmu_navigator"
        android:theme="@style/AppTheme"
        tools:replace="android:label">
        <uses-library android:name="com.google.android.maps"/>

        <activity
            android:name=".app.LaunchActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".app.MainActivity"
            android:label="@string/lmu_navigator"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoIndicator">
        </activity>
        <activity
            android:name=".app.BuildingDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.TransparentActionBar"/>
        <activity
            android:name=".search.SearchBuildingActivity"
            android:label="@string/search_label"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".search.SearchRoomActivity"
            android:label="@string/search_label"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".indoor.FloorViewActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".preferences.SettingsActivity"
            android:screenOrientation="portrait">
        </activity>

        <service
            android:name=".database.UpdateService"
            android:exported="false"/>

        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyBe8vJCLw-S00V4EiCVzY-BbHFXfc5nVbk"/>
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version"/>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="c93d5d59a9f93efc02fbd9abbca20087da1750a6" />
    </application>

</manifest>
